@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(133, 194, 230);
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

